/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to error a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import url('https://rsms.me/inter/inter.css');

body { font-family: 'Inter', sans-serif; }


a {
  color: #2E2F30;
  &:hover {
    text-decoration: none;
    color: #3b5cb0;
  }
}

.top-right {
  position: absolute;
  right: 0;
}


.ico {
 .ii {
   visibility: hidden;
   opacity:0.5;
 }
  &:hover {
    .ii {
      visibility: visible;
      opacity: 1;
    }
  }
}


.fa-trash, .fa-pencil {
  transition: all 0.4s;
  font-size: 18px;
  &:hover {
    font-size: 25px;
    transition: all 0.4s;
  }
}

@mixin size($type) {
  @if $type == ipad {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content
    }
  } @else if $type == ipad_landscape {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      @content
    }
  } @else if $type == mobile_landscape {
    @media (min-width: 481px) and (max-width: 767px) {
      @content
    }
  } @else if $type == desktop_laptop {
    @media (min-width: 1025px) and (max-width: 1280px) {
      @content
    }
  } @else if $type == desktop {
    @media (min-width: 1281px) {
      @content
    }
  } @else {
    @media (min-width: 320px) and (max-width: 480px) {
      @content
    }
  }
}

.m-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.m-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}


.m-nav #m-click {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
