.do-flex
  .div
    %p
      Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
      consectetur adetium ut lacinia in, elementum id enim.
  .item-u
    %p
      Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.
      Proin eget t
  .item-u
    %p
      Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.
      Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
  .item-u
    %p
      Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.
  .item-u
    %p
      Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.
      Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
